@page "/add"
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient client

@using Newtonsoft.Json
@using Data

@using Microsoft.Extensions.Logging
@inject ILogger<Search> Logger


<h1>Add Record</h1>

<p>This component demonstrates adding a record to the datasaset.</p>


<p>Please enter a record to the datasaset and select add record</p>


<EditForm Model="@addModel" OnValidSubmit="@AddApp">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <div class="form-group">

        <label for="id">Id</label>
        <InputText id="id" @bind-Value="addModel.Id" />
        <br />
        <label for="name">Name</label>
        <InputText id="name" @bind-Value="addModel.Name" />
        <br />
        <label for="rating">Rating</label>
        <InputNumber id="rating" @bind-Value="addModel.Rating" />
        <br />
        <label for="people">People</label>
        <InputNumber id="people" @bind-Value="addModel.People" />
        <br />
        <label for="category">Category</label>
        <InputText id="category" @bind-Value="addModel.Category" />
        <br />
        <label for="date">Date</label>
        <InputText id="date" @bind-Value="addModel.Date" />

    </div>

    <button type="submit">Add Record</button>
</EditForm>

@code {
    private AddModel addModel = new();
    string responseBody = "";

    List<StoreApp>StoreApps = new List<StoreApp>();
    private async Task AddApp()
    {
        Logger.LogInformation("StoreApp called");

        // Create the object 
        var apiName = "api/StoreApps";
        var addApp = new AddModel

        {
            Id = addModel.Id,
            Name = addModel.Name,
            Rating = addModel.Rating,
            People = addModel.People,
            Category = addModel.Category,
            Date = addModel.Date,
            Price = addModel.Price

        };

        var httpResponse = await client.PostAsJsonAsync(apiName, addApp);
        if (httpResponse.IsSuccessStatusCode)
        {
            responseBody = await httpResponse.Content.ReadAsStringAsync();
            StoreApps.Add(JsonConvert.DeserializeObject<StoreApp>(responseBody));
            StateHasChanged();
        }

    }
}

