@page "/delete"
@using System.Net.Http

@inject HttpClient client

@using Newtonsoft.Json
@using Data

@using Microsoft.Extensions.Logging
@inject ILogger<Search> Logger


<h1>Delete a Record</h1>


    @if (StoreApps == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var storeapp in StoreApps)
                {
                    <tr class="justify-content-center">
                        <td>@storeapp.Id</td>
                        <td>@storeapp.Name</td>
                        <td>
                            <a href="javascript://" @onclick='()=>deleteRecordAsync(storeapp)'>Delete </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @code {

            string responseBody = "";
            List<StoreApp> StoreApps = new List<StoreApp>();

            protected async Task deleteRecordAsync(StoreApp storeapp)
            {
             

            var apiName = "api/StoreApps/" + storeapp.Id.ToString();
            var httpResponse = await client.DeleteAsync(apiName);

            
                responseBody = await httpResponse.Content.ReadAsStringAsync();
            
                StateHasChanged();
        }

    }

    
